"*":
  Hydrogen:
    autoScroll: false
    gateways: '''
      [{
        "name": "Desktop",
        "options": {
          "baseUrl": "http://10.8.0.2:8888/jupyter",
        }
      },
      {
        "name": "dev",
        "options": {
          "baseUrl": "http://10.8.1.1:8888/jupyter",
        }
      }]
    '''
    outputAreaFontSize: 14
    startDir: "dirOfFile"
  "atom-beautify":
    general: {}
  "atom-clock":
    dateFormat: "HH:mm"
    showOnlyInFullscreen: true
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    audioBeep: false
    disabledPackages: [
      "language-gfm"
      "exception-reporting"
      "background-tips"
      "metrics"
      "uber-juno"
      "julia-client"
      "hydrogen-launcher"
      "tool-bar"
      "markdown-preview"
      "git-plus"
      "atom-beautify"
      "remote-sync"
    ]
    projectHome: "/home/user/rsync/programming"
    telemetryConsent: "no"
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 16
    preferredLineLength: 88
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
    tabType: "hard"
  "file-icons":
    onChanges: true
  "hey-pane":
    expandedWidth: 97
  "highlight-selected": {}
  "hydrogen-launcher": {}
  "ide-python":
    pylsPlugins:
      pyflakes: {}
    python: "/opt/miniconda3/bin/python"
  "julia-client":
    consoleOptions:
      rendererType: true
    firstBoot: false
    juliaOptions: {}
    juliaPath: "/opt/miniconda3/envs/jupyter/julia-1.1.0/bin/julia"
    uiOptions:
      enableMenu: true
  latex:
    openResultAfterBuild: false
    openResultInBackground: false
  "markdown-preview-plus":
    mathConfig:
      enableLatexRenderingByDefault: true
    saveConfig:
      defaultSaveFormat: "pdf"
    useGitHubStyle: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "platformio-ide-terminal":
    core:
      workingDirectory: "Active File"
    style:
      animationSpeed: 2
      defaultPanelHeight: "450px"
    toggles:
      autoClose: true
  "python-black": {}
  "remote-sync":
    foldLogPanel: true
    monitorFileAnimation: false
  script:
    stopOnRerun: true
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.rst"
      "text.restructuredtext"
      "text.tex.latex"
    ]
    locales: [
      "en-US"
    ]
  "tool-bar":
    position: "Left"
    visible: false
  "tree-view": {}
  "uber-juno":
    disable: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
  whitespace: {}
